.infoBox {
  box-sizing: border-box !important;
  border-radius: 5px;
  flex: 1;
  background-color: rgba(0,0,0, 0.38) !important;
  border-top: 15px solid transparent;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}
.infoBox__title,
.infoBox__cases,
.infoBox__total {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff !important;
}

.MuiCardContent-root h2{
  padding: 0 !important;
}

.infoBox__cases {
  color: #ca0f0f !important;
  background: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.infoBox__total,
.infoBox__title {
  font-size: 1rem !important;
  text-shadow: 0 0 10px 5px rgba(0, 0, 0,1) !important;
  font-weight: 400 !important;
}

.infoBox__red {
  border-top: 15px solid #f32c2c !important;
}
.infoBox__green {
  border-top: 15px solid rgb(61, 235, 191) !important;
}
.infoBox__blue {
  border-top: 15px solid rgb(13, 47, 241) !important;
}
.red{
  font-size: 2rem;
  color: red;
  text-align: center;
  background: white;
}

.blue{
  font-size: 2rem;
  color: blue;
  text-align: center;
  background: white;
}

.green{
  font-size: 2rem;
  color: rgb(61, 235, 191);
  text-align: center;
  background: white;
}

@media (max-width: 700px) {
  .infoBox {
    margin-bottom: 5px;
    width: 100%;
    height: 75%;
  }
  .infoBox:last-child {
    margin-left: -15px !important;
  }
}
