.infoBox {
  box-sizing: border-box !important;
  border-radius: 5px;
  box-shadow: 0 0 25px 2px #bbb!important;
  flex: 1;
  background-color: #2766a5ce !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}
.infoBox__title,
.infoBox__cases,
.infoBox__total {
  text-transform: uppercase;
   letter-spacing: 1px;
  padding: 0;
  margin: 1px;
  text-align: center;
   color: rgb(220, 223, 228) !important;
}

.infoBox__cases {
  color: #fd1616 !important;
  font-weight: 300!important;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.infoBox__total, .infoBox__title {
  color: #6c757d;
  font-weight: 300 !important;
  font-size: 1rem !important;
  margin-bottom: 15px !important;
}
.infoBox__selected{
  border-top: 10px solid greenyellow !important;
}
.infoBox__red{
 border-top: 10px solid #f32c2c !important;
}
.infoBox__green{
  color: greenyellow !important;
}
@media (max-width: 700px) {
  .infoBox {
    margin-bottom: 5px;
    width: 100%;
    height: 75%;
  }
  .infoBox:last-child {
  margin-left: -15px!important;
}
}
