.infoBox {
  box-sizing: border-box !important;
  border-radius: 5px;
  background-color: rgba(0,0,0) !important;
  border: 3px solid transparent;
}
.infoBox:hover{
  background: rgba(4, 15, 46,.8)!important;
}

.infoBox:not(:last-child) {
  margin-bottom: 5px;
}
.infoBox__title,
.infoBox__cases,
.infoBox__total {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff !important;
}

.MuiCardContent-root h2{
  padding: 0 !important;
}

.infoBox__cases {
  color: #ca0f0f !important;
  background: #fff;
  font-size: 2rem!important;
  margin-bottom: 0.5rem;
}

.infoBox__total,
.infoBox__title {
  font-size: .75rem !important;
  text-shadow: 0 0 10px 5px rgba(0, 0, 0,1) !important;
  font-weight: 400 !important;
}

.infoBox__red {
  border: 3px solid #f32c2c !important;
}
.infoBox__green {
  border: 3px solid rgb(61, 235, 191) !important;
}
.infoBox__blue {
  border: 3px solid rgb(13, 47, 241) !important;
}
.red{
  font-size: 1rem;
  color: red;
  text-align: center;
  background: white;
    border-radius: 5px;
  padding: -4px;
}

.blue{
  font-size: 1rem;
  color: #3ea0fc;
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: -4px;
}

.green{
  font-size: 1rem;
  color: rgb(0, 218, 163);
  text-align: center;
  background: white;
    border-radius: 5px;
  padding: -4px;
}

@media (max-width: 700px) {
  .infoBox {
    /* margin-bottom: 5px; */
    /* width: 100%;
    height: 75%; */
  }
  
}
