.lineGraphButton {
  background-color: rgba(15, 148, 104, 0.096) !important;
}

.blue {
  color: blue !important;
}
.green {
  color: rgb(20, 228, 176) !important;
}
.red {
  color: red !important;
}
