.map {
  height: 500px;
  background: #fff;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
.map .leaflet-container {
  height: 100%;
}

.popup__flag {
  height: 50px;
  width: 70px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  margin: auto;
  box-shadow: 0 0 2px 1px #ccc;
}

.popup__name{
   font-size: 18px;
   font-weight: bold;
   color: #555;
   text-align: center;
   padding: 5px 0 0;
   border-bottom: 1px solid;
}
.popup__confirmed, .popup__recovered, .popup__fatalities{
    font-size: 14px;
    margin-top: 5px;
    color: #555;
}
