.navbar{
    height: 100px;
    box-shadow: 0 0 12px -4px #555;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: #222;
}

.logo{
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(109, 240, 229)!important;
    min-width: fit-content;
    cursor: pointer;
    text-decoration: none!important;
    /* border: 1px solid red; */
}
.logo span{
    display: block!important;
    font-size: .7rem;
  font-weight: bold;
}

.logo img{
    height: 90px;
    margin-right: 10px;
}
.logo__text {
 color: rgb(2, 165, 151)!important;
}

.links{
    display: flex;
    flex: 5;
    align-items: center;
    height: 100%;
    color: #777;
    list-style: none;
    font-size: .85rem;
    /* border: 1px solid red; */
}
.links li{
    margin: 0 15px;
    /* border: 1px solid red; */
    height:100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.links li a{
    text-decoration: none;
    color: rgb(18, 197, 182);
    text-transform: uppercase;
}
.links li:hover, .logo:hover{
    background: rgba(18, 197, 182, 0.15);
}





