.sidebarArticle__container {
  display: flex;
}

.sidebarArticle__content {
  flex: 4;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.sidebarArticle__content h4 {
  color: #61dafb;
  margin: 0;
}
.sidebarArticle__content p {
  font-size: 80%;
}
.sidebarArticle__thumbnail {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebarArticle__thumbnail img {
  margin: 3px;
  height: 76px;
  width: 76px;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .sidebarArticle__container {
    width: 350px;
    height: 130px;
    overflow: auto;
  }
  .sidebarArticle__container::-webkit-scrollbar {
    width: 5px;
    transition: all 1s ease-in-out;
  }

  .sidebarArticle__container::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  .sidebarArticle__container::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(153, 152, 152, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(202, 198, 198, 0.404);
    transition: all 1s ease-in-out;
  }

  .sidebarArticle__container:hover::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(228, 225, 225, 0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(206, 203, 203, 0.7);
    background: rgb(66, 66, 66);
    transition: all 1s ease-in-out;
  }
  .sidebarArticle__content p {
    font-size: 12px;
  }
  .sidebarArticle__content h4 {
    font-size: 13px;
  }
}
