.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    background: #fff;
}
.table tr>td{
    padding: .5rem;
    border: none;
}
.table tr:nth-of-type(odd){
  background: #f3f2f8;
}
.table tr{
    display: flex;
    justify-content: space-between;
}