table {
  margin-top: 20px;
  color: #6a5d5d;
  background: #fff;
  width: 100%;
}
.table {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 400px;
}
tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
  padding: 5px 0;
}
tr td:first-child, th:first-child{
  margin-right: 15px;
}
th {
  text-transform: uppercase;
  color: #111;
  color: rgb(8, 201, 169);
}
td,
th {
  text-align: left;
  vertical-align: middle;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
}
.flag {
  display: flex;
  /* border: 1px solid red; */
  width: 300px;
}

.flag span {
  margin-left: 10px;
  text-align: left;
    font-size: 12px !important;
    font-weight: normal !important;
}
.flag img {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
tr:nth-of-type(odd) {
  background:rgba(8, 201, 169, 0.1);
}

tr:first-child{
  background: rgba(13, 230, 194, 0.192);
}
