body,
html {
  background: rgba(224, 222, 222, 0.315);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app {
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
  width: 90vw;
  margin: auto;
  margin-top: 150px;
}
.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.app__header h1 {
  color: rgb(18, 197, 182);
  font-size: 1.8rem;
}
.app__dropdown {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.form__dropdown {
  background: whitesmoke;
  width: 300px;
  height: 100%;
  border-radius: 5px;
}
.form__dropdown:focus {
  outline: none !important;
}
.app__left {
  width: 55vw;
  /* border: 2px solid red; */
}
.app__right__table__header {
  text-align: center;
}
.MuiCardContent-root h3{
  margin-block-start: 20px !important;
    margin-block-end: 20px !important;
}
.app__right__graph {
  margin: 40px auto;
  text-align: center;
}
.app__right {
  width: 30vw;
  margin-top: 20px;
}
.app__right .MuiPaper-root {
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.5);
}
.info__stats {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bg__image {
  background: url("./images/covid-19.jpg");
  background-size: cover;
  min-height: 320px;
  border-radius: 5px;
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.5);
}

.news {
  width: 90vw;
  margin: auto;
}

.news__banner {
  background-color: #20232a;
  color: rgb(18, 197, 182);
  font-size: 3rem;
  width: 100%;
  height: 300px;
  padding: 20px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 990px) {
  .app__left {
    width: 80vw;
    margin: auto;
  }
  .app__right {
    width: 80vw;
    margin: auto;
  }
  .app {
    flex-direction: column;
  }
  * {
    font-size: 90%;
  }
}

@media (max-width: 700px) {
  .info__stats {
    flex-direction: column;
  }
  .app__header h1 {
    font-size: 1.5rem;
  }
}
